<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/layout.html :: html_head"/>
	<body>
		<div th:replace="fragments/layout.html :: menu"/>
		<div th:replace="fragments/layout.html :: header"/> 
		<h3>Course List</h3>
		<a th:href="@{/admin/employee/create}">Add Course</a>
		<div th:if="${not #lists.isEmpty(departmentList)}">
			<table style="border: 1;">
				<tr class="listHeading">
					<!--headers-->
					<th><span th:text="#{fieldLabel.courseId}"></span></th>
					<th><span th:text="#{fieldLabel.courseName}"></span></th>
					<th><span th:text="#{caption.currentEnrollment}"></span></th>
					<th><span th:text="#{caption.lecturerlist}"></span></th>
					<th><span th:text="#{caption.editcourseEnrollmentnumber}"></span></th>
					<th><span th:text="#{caption.deletecourse}"></span></th>
				</tr>
				<tr th:each="department : ${departmentList}" class="listRecord">
					<!--Course Id here-->
					<td align="left" th:text="${department.departmentId}">CourseId</td>
					<!--Course Name here-->
					<td align="left" th:text="${department.managerInCharge}">CourseName</td>
					<!--hyperlink to student list of course here-->
					<td><a th:href="@{/admin/department/delete/}+${department.departmentId}" class="btn btn-default"><span th:text="#{caption.grade}"></span></a></td>
					<!--hyperlink to list of lecturers teaching this course here-->
					<td><a th:href="@{/admin/department/delete/}+${department.departmentId}" class="btn btn-default"><span th:text="#{caption.grade}"></span></a></td>
					<!--hyperlink to edit course enrollment number here-->
					<td><a th:href="@{/admin/department/delete/}+${department.departmentId}" class="btn btn-default"><span th:text="#{caption.grade}"></span></a></td>
					<!--hyperlink to delete course here-->
					<td><a th:href="@{/admin/department/delete/}+${department.departmentId}" class="btn btn-default"><span th:text="#{caption.grade}"></span></a></td>
				</tr>
			</table>
		</div>
	</body>
</html>