<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/defaults.html :: html_head"/>

<body>
	<div th:replace="fragments/defaults.html :: menu"/>
	<div th:replace="fragments/defaults.html :: header"/> 
	<h3>Add New Course</h3>
	<!--form start-->
	<form action="#" th:action="@{/admin/courses/saveCourse}" th:object="${course}" method="post">
		<table>
			<tbody>
				<tr> <!--Input Course Id-->
					<td><b>Course Id</b></td>
					<td>
						<fieldset><input type="text" th:field="*{courseId}" /></fieldset>
					</td>
					<td th:if="${#fields.hasErrors('courseId')}" th:errors="*{courseId}"></td>
				</tr>
				<tr> <!--Input Course name-->
					<td><b>Course Name</b></td>
					<td>
						<fieldset><input type="text" th:field="*{courseName}"></fieldset>
					</td>
					<td th:if="${#fields.hasErrors('courseName')}" th:errors="*{courseName}"></td>
				</tr>
				<tr> <!--Input allowed enrollment size-->
					<td><b>Class Capacity</b></td>
					<td>
						<fieldset><input type="number" th:field="*{actualEnroll}" /></fieldset>
					</td>
					<td th:if="${#fields.hasErrors('actualEnroll')}" th:errors="*{actualEnroll}"></td>
				</tr>
				<tr> <!--Input Course description-->
					<td><b>Course Description</b></td>
					<td>
						<fieldset><input type="text" th:field="*{description}" /></fieldset>
					</td>
					<td th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></td>
				</tr>
				<tr><!-- Dropdown menu to assign initial lecturer-->
					<td><b>Lecturer</b></td>
					<td>
						<fieldset> 
							<select id="*{lect}">
							<option th:each="lecturer : ${lecturerList}" th:value="${lecturer}" th:text="${lecturer.firstName}+' '+${lecturer.lastName}">Select Lecturer</option>
							</select>
						</fieldset>
					</td>
				</tr>
				<tr>
					<td>
						<input type="submit" value="Create course" class="blcass" />
					</td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</form>

</body>

</html>
