<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/defaults.html :: html_head"/>
	<body>
		<div th:replace="fragments/defaults.html :: menu"/>
		<div th:replace="fragments/defaults.html :: header"/> 
		<h3>Edit course</h3>
		<form action="#" th:action="@{/admin/courses/updateCourse/}+${course.courseId}" th:object="${course}" method="post">
			<table>
				<tr> <!--Input Course Id-->
					<td><b>Course Id</b></td>
					<td>
						<fieldset><input type="text" readonly class="form-control" id="*{courseId}" th:field="${course.courseId}"></fieldset>
					</td>
					<td th:if="${#fields.hasErrors('courseId')}" th:errors="*{courseId}"></td>
				</tr>
				<tr> <!--Input Course name-->
					<td><b>Course Name</b></td>
					<td>
						<fieldset><input type="text" readonly class="form-control" id="*{courseName}" th:field="${course.courseName}"></fieldset>
					</td>
					<td th:if="${#fields.hasErrors('courseName')}" th:errors="*{courseName}"></td>
				</tr>
				<tr> <!--Input allowed enrollment size-->
					<td><b>Class Capacity</b></td>
					<td>
						<fieldset><input type="number" th:field="${course.size}" class="form-control mb-4 col-4"/></fieldset>
					</td>
					<td th:if="${#fields.hasErrors('size')}" th:errors="*{size}"></td>
				</tr>
				<tr> <!--Input Course description-->
					<td><b>Course Description</b></td>
					<td>
						<fieldset><input type="text" readonly class = "form-control" id="*{description}" th:field="${course.description}"/></fieldset>
					</td>
					<td th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></td>
				</tr>
				<tr><!-- Dropdown menu to assign initial lecturer-->
					<td><b>Lecturer</b></td>
					<td>
						<fieldset> 
							<select id="*{lect}">
							<option th:each="lecturer : ${lecturerList}" th:value="${lecturer}" th:text="${lecturer.firstName}+' '+${lecturer.lastName}">Select Lecturer</option>
							</select>
						</fieldset>
					</td>
					<tr><!-- Submit button,-->
						<td><input type="submit" value="Update" class="blcass" /></td>
						<td></td>
						<td></td>
					</tr>
			</table>
		</form>
	</body>
</html>
