<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/layout.html :: html_head"/>
	<body>
		<div th:replace="fragments/layout.html :: menu"/>
		<div th:replace="fragments/layout.html :: header"/> 
		<h3>Enroll Student into Course</h3>
		<form action="#" th:action="@{/admin/managecourses}+${department.departmentId}+@{/addStudent}" th:object="${courses}" method="post">
			<table>
				<tbody>
					<tr><!-- Read-only field showing which student id-->
						<td><b>Student Id</b><span th:text="#{fieldLabel.studentId}"></span></td>
						<td><fieldset> <input type="text" th:field="*{studentId}" readonly="readonly" /></fieldset></td>
						<td th:if="${#fields.hasErrors('studentId')}" th:errors="*{studentId}"></td>
					</tr>				
					
					<tr><!-- Dropdown menu of courses available-->
						<td><b>List of courses available</b><span th:text="#{fieldLabel._______}"></span></td>
						<td>
							<fieldset> 
								<select th:field="*{studentCourse}">
								<option th:each="course : ${courselist}" th:value="${courses}" th:text="${courseList}">Courses</option>
								</select>
							</fieldset>
						</td>
						<td th:if="${#fields.hasErrors('studentCourses')}" th:errors="*{managerInCharge}"></td>
					</tr>
					
					<tr><!-- Submit button,-->
						<td><input type="submit" value="Enroll student" class="blcass" /></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</form>
	</body>
</html>
