<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/layout.html :: html_head"/>
	<body>
		<div th:replace="fragments/layout.html :: menu"/>
		<div th:replace="fragments/layout.html :: header"/> 
		<h3>Assign Lecturer to Course</h3>
		<form action="#" th:action="@{/admin/department/edit/}+${department.departmentId}" th:object="${department}" method="post">
			<table>
				<tbody>
					<tr><!-- Read-only field showing which leturer name-->
						<td><span th:text="#{fieldLabel.departmentId}"></span></td>
						<td><fieldset> <input type="text" th:field="*{departmentId}" readonly="readonly" /></fieldset></td>
						<td th:if="${#fields.hasErrors('departmentId')}" th:errors="*{departmentId}"></td>
					</tr>
					<tr><!-- Dropdown menu of courses available-->
						<td><span th:text="#{fieldLabel.newgrade}"></span></td>
						<td>
							<fieldset> 
								<select th:field="*{managerInCharge}">
								<option th:each="manager : ${eidlist}" th:value="${manager}" th:text="${manager}">List</option>
								</select>
							</fieldset>
						</td>
						<td th:if="${#fields.hasErrors('managerInCharge')}" th:errors="*{managerInCharge}"></td>
					</tr>
					<tr><!-- Submit button,-->
						<td><input type="submit" value="Update" class="blcass" /></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</form>
	</body>
</html>