<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/defaults.html :: html_head"></head>

	<body>
		<div th:replace="fragments/defaults.html :: menu"></div>
		<div th:replace="fragments/defaults.html :: header"></div> 
		<h3>Course List</h3>
		<a th:href="@{/admin/employee/managecourses}"></a>
		<table style="border: 1;"><table class="table table-striped table-responsive-md">
			<tr>
				<th>CourseId</th>
				<th>CourseName</th>
				<th>Allowed enrollment size</th>
				<th>Actual enrollment</th>
				<th>Course Description</th>
				<th>Lecturer</th>
				<th>Class List</th>
				<th colspan="2" align="left">Actions</th>

			</tr>
			<tr th:each="courses : ${courseList}">
				<!--
					use ${var_name.attribute} to access the attributes of the object
				-->
					<!--Course Id here-->
					<td align="left" th:text="${courses.courseId}"></td>
					<!--Course Name here-->
					<td align="left" th:text="${courses.courseName}"></td>
					<!--Allowed enrollment size here-->
					<td align="left" th:text="${courses.size}"></td>
					<!--Course Name here-->
					<td align="left" th:text="${courses.actualEnroll}"></td>
					<!--Course Id here-->
					<td align="left" th:text="${courses.description}"></td>
					<!--Lecturer name here-->
					<!--<td align="left" th:text="${lectureCanTeach.courseId.lecturerId}"></td>-->
					<!--Class List here-->
					<td align="left" th:href="@{/}"></td>
					<!--hyperlink to edit course here-->
					<td><a th:href="@{/admin/courses/updateCourse/}+${courses.courseId}" class="btn btn-primary">Update</a></td>
					<!--hyperlink to delete course here-->
					<td><a th:href="@{/admin/courses/deleteCourse/}+${courses.courseId}" class="btn btn-danger">Delete</a></td>
			</tr>
		</table>
	</body>
</html>
