<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: html_head"/>

<body>
	<div th:replace="fragments/layout.html :: menu"/>
	<div th:replace="fragments/layout.html :: header"/> 
	<h3>Change Password</h3>
	<!--form start-->
	<form action="#" th:action="@{/admin/employee/create}" th:object="${employee}" method="post">
		<table>
			<tbody>
				<tr> <!--Input old password-->
					<td><span th:text="#{fieldLabel.employeeId}"></span></td>
					<td>
						<fieldset><input type="text" th:field="*{employeeId}" /></fieldset>
					</td>
					<td th:if="${#fields.hasErrors('employeeId')}" th:errors="*{employeeId}"></td>
				</tr>
				<tr> <!--Input new password-->
					<td><span th:text="#{fieldLabel.employeeId}"></span></td>
					<td>
						<fieldset><input type="text" th:field="*{employeeId}" /></fieldset>
					</td>
					<td th:if="${#fields.hasErrors('employeeId')}" th:errors="*{employeeId}"></td>
				</tr>
				<tr>
					<td>
						<fieldset><input type="submit" value="Create" class="blcass" /></fieldset>
					</td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</form>

</body>

</html>