<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<head>-->
<!--	<meta charset="utf-8">-->
<!--	<title>Login | NUS Course Management System</title>-->
<!--&lt;!&ndash;	<meta name="viewport" content="width=device-width, initial-scale=1.0">&ndash;&gt;-->
<!--&lt;!&ndash;	<meta content="Premium Multipurpose Admin & Dashboard Template" name="description">&ndash;&gt;-->
<!--&lt;!&ndash;	<meta content="Themesbrand" name="author">&ndash;&gt;-->

<head th:replace = "fragments/defaults.html::html_head">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<!--<style type="text/css">
		h3{
			text-align: center;
		}
		#body{
			background-color: white;
			border: 2px solid black;
			width: 350px;
			height: 350px;
			text-align: left;
			position:absolute;
			left:50%;
			top:30%;
			margin-left:-150px;
			margin-top:-100px;
		}
		body{
			background-color: #80bdff;
		}
	</style>-->
	<title>nus.edu.sg</title>
</head>
<body >
	<div>
		<h3>Sign In</h3>
	</div>
	
		<form action="#" th:object="${user}" th:action="@{/authenticate}" method="get" style="padding-left: 25px;">
		<div class="row">
			<div class="col-xs-3">
				<label>Username</label><br>
				<input class="form-control" type="text" name="userId" autocomplete="off" th:field="*{userId}">
				<p  style="color: red; font-size: 12px;margin-top: 0px;" th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3">
				<label>Password:</label><br>
				<input class="form-control" type="password" name="password" th:field="*{password}">
				<p  style="color: red; font-size: 12px; margin-top: 0px;" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-3">
				<input class="btn btn-primary" type="submit"  value="Sign in">
			</div>
		</div>
		</form>

</body>
</html>