<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: html_head"/>

<body>
	<div th:replace="fragments/layout.html :: menu"/>
	<div th:replace="fragments/layout.html :: header"/> 
	<h3>My Students</h3>
	<div th:if="${not #lists.isEmpty(departmentList)}">
		<table style="border: 1;">

			<tr class="listHeading">
				<th><span th:text="#{fieldLabel.courseId}"></span></th>
				<th><span th:text="#{fieldLabel.studentId}"></span></th>
				<th><span th:text="#{caption.grade}"></span></th>
			</tr>
			<tr th:each="department : ${departmentList}" class="listRecord">
				<td align="left" th:text="${studentattendcourse.courseId}">Course</td>
				<td align="left" th:text="${studentattendcourse.studentId}">Student</td>

				<td><a th:href="@{/admin/department/edit/}+${department.departmentId}" class="btn btn-default"><span
							th:text="#{caption.grade}"></span></a></td>
			</tr>
		</table>
	</div>
</body>

</html>