<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/layout.html :: html_head"/>
	<body>
		<div th:replace="fragments/layout.html :: menu"/>
		<div th:replace="fragments/layout.html :: header"/> 
		<h3>Past Courses</h3>
		<div th:if="${not #lists.isEmpty(departmentList)}">
			<table style="border: 1;">
				<tr class="listHeading">
					<th><span th:text="#{fieldLabel.courseId}"></span></th>
					<th><span th:text="#{fieldLabel.courseName}"></span></th>
				</tr>
				<tr th:each="department : ${departmentList}" class="listRecord">
					<td align="left" th:text="${department.departmentId}">CourseId</td>
					<td align="left" th:text="${department.managerInCharge}">CourseName</td>
				</tr>
			</table>
		</div>
	</body>
</html>