<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/defaults.html :: html_head"/>
	<body>
		<div th:replace="fragments/defaults.html :: menu"/>
		<div th:replace="fragments/defaults.html :: header"/> 
		<h3>Current Courses</h3>
		<!--Add course hyperlink here-->
		<a th:href="@{/admin/employee/create}">Add Course</a>
		<!--calculation of CAP here-->
		<p th:href="@{studentgrade}">Cumulative CAP</p>
		<div th:if="${not #lists.isEmpty(departmentList)}">
			<table style="border: 1;">
				<tr class="listHeading">
					<th><span th:text="#{fieldLabel.courseId}"></span></th>
					<th><span th:text="#{fieldLabel.courseName}"></span></th>
					<th><span th:text="#{caption.grade}"></span></th>
					<th><span th:text="#{caption.grade}"></span></th>
				</tr>
				<tr th:each="department : ${departmentList}" class="listRecord">
					<!--Course Id here-->
					<td align="left" th:text="${department.departmentId}">CourseId</td>
					<!--Course Name here-->
					<td align="left" th:text="${department.managerInCharge}">CourseName</td>
					<!--course grade-->
					<td align="left" th:text="${department.managerInCharge}">Number</td>
				</tr>
			</table>
		</div>
	</body>
</html>